<section class="bg-primary" id="mission">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

              <h2>Why delegate to ADAT?</h2>
              <hr class="light">
              <p>With fees set at 2%, you will receive 98% of all rewards. And we vouch to donate 100% of our rewards (the 2% of pool's rewards) to Treedom, our planting tree partner!

              <p >We want our footprint to be more than net zero - we want it to be <b style="background: white;
    color: #61959c;">regenerative!</b> </p>

            <div class="col-md text-center" style="padding-top:20px;padding-bottom: 20px">
                <iframe width="430" height="242" src="https://www.youtube.com/embed/yadtZrqekUU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           </div>
        </div>
    </div>
</section>
