<section class="bg-primary" id="mission">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

              <h2>Porquê delegar o seu ADA á ADAT?</h2>
              <hr class="light">
              <p> O nosso sistema é fiável e robusto, garantindo uma forte probabilidade de criar blocos. A cada bloco criado uma recompensa é atribuida á stake pool.
                98% do total de recompensas é distribuido pelos associados à nossa Stake Pool. 2% será a taxa (variable fee) revertente para o projeto 'ADA for Trees'.
                Na ADAT nós comprometemo-nos a transformar 100% desse valor em árvores.

              <p>Na ADAT pretendemos que o nosso impacto vá além do impacto zéro - Queremos que seja <b style="background: white;
    color: #61959c;">regenerativo!</b> </p>

            <div class="col-md text-center" style="padding-top:20px;padding-bottom: 20px">
                <iframe width="430" height="242" src="https://www.youtube.com/embed/yadtZrqekUU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
           </div>
        </div>
    </div>
</section>
