<section class="bg-primary" id="ChoosenCharity" style="background:#e3d0b9">
    <div class="container">
        <div class="row">
            <div class="text-center" >
                <h2 class="section-heading">Os nossos parceiros de beneficiência: Treedom®</h2>
                <hr class="light">
                    <p class="text-faded"> Treedom® é uma plataforma online que colabora com pequenos produtores e agricultores um pouco por todo o mundo, apoiando-os na implementação de um sistema de agricultura sustentável - sistema agroflorestal.
                  <br>O trabalho desta associação baseia-se na educação de técnicas de cultura agroflorestal, ajuda à implementação das mesmas no terreno e garantia de um suporte financeiro para estes pequenos produtores durante os estágios de crescimento das plantas até que estas se tornem produtivas.
                  <br>Desta forma garantindo <b>segurança alimentar</b> e <b>desenvolvimento económico</b>dos agricultores e das suas comunidades locais.</p>

                  <hr class="light">
                  <h3 class="section-heading"> O que é Cultivo Agroflorestal?</h3>
                  <p class="text-faded"> Um sistema de cultivo agroflorestal é um sistema de agricultura dito <b>sustentável</b> que consiste na integração de diversas espécies agricolas no ecossistema local. .</p>

                    <div class="mx-auto">
                      <iframe width="430" height="242" src="https://www.youtube.com/embed/x4GOuZK2NmQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  <hr class="light">
                  <h3 class="section-heading"> <b>Como colaboramos com Treedom?</b> </h3>
                  <p class="text-faded">Todos os meses revertemos o valor de ADA gerado pelas taxas da nossa stake pool e com esse valor adequirimos árvores utilizando a plataforma Treedom®.
                  <br>A cada árvore será atribuido um numéro de identificação (ID) que permitirá aos nossos associados seguir os nossos progressos a todo o instante.</p>

                  <hr class="light">
                  <h3 class="section-heading"><b>Porquê Treedom®?</h3>
                  <p class="text-faded">Nós escolhemos colaborar com esta plataforma devido ao seu <b>impacto global</b> - não só <b>ecológico</b> - mas também <b>social</b>, junto de pequenas comunidades um pouco por todo o mundo.
                      <br>Também devido à possibilidade de <b>acompanhamento</b>, o que nos permite garantir maior transparência aos nossos associados.</p>
                      <br>
                  <p class="text-faded">Cada árvore será plantada e será <b>localizável</b> - graças ao sistema de identificação que fornece informação sobre a planta, tal como:
                  <ul class="text-faded">
                        <li><b>Onde</b> a árvore é plantada</li>
                        <li><b>Quem</b> é o agrucultor a cargo</li>
                        <li><b>Como</b> está a desenvolver - através de uma <b>foto actualizada</b>.</li>
                 </ul>
                 </p>
                    <img width="150" height="150" src="https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/ADATtreedom.png" alt="TreedomQR">
             </div>
         </div>
      </div>
</section>
