<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contacto!</h2>
                <hr class="primary">
                <p>Gostaria de saber mais sobre ADAT e o nosso projecto? Entre em contacto ou siga os nossos passos! </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/Ada4T">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@Ada4T</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://t.me/ADAforTREES">
            <i class="fa fa-telegram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>ADAforTrees</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.treedom.net/en/organization/ADAT">
            <i class="fa fa-tree fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Dê uma olhada nas nossas árvores ;)</p>
            </a>
        </div>

    </div>
</section>
