<section class="bg-primary" id="goal" style="background-image: url('https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/50treesbg.jpg');height: 600px;background-repeat: no-repeat;background-position: top;" >
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center" style="padding-top: 120px;padding-bottom: 120px">
                <h2>Our Goal:</h2>
                <p>Plant a minimum of 50 life-changing trees per month, giving families nutritious food and produce to sell.</p>
                  <img width="100" height="100" src="https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/9.png" alt="ADATlogo">
                   <a href="https://adapools.org/pool/c3c0b2c48d0c9b36f51461530d8a4c7df67f66f05827a5ad831e9e37" class="btn btn-primary btn-xl page-scroll" style="background-color:white;color:#62959c">Delegate to our pool</a>
            </div>
        </div>
    </div>
</section>
