<header style="background-position: bottom!important">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ADA for Trees</h1>
            <h2>A 'Stake Pool' (SP) que transforma ADA em florestas!</h2>
            <hr>
            <p style="font-weight:600">100% do lucro da nossa pool é doado para a plantação de árvores um pouco por todo o mundo!</p>
            <a href="https://adapools.org/pool/c3c0b2c48d0c9b36f51461530d8a4c7df67f66f05827a5ad831e9e37" class="btn btn-primary btn-xl page-scroll">Junte-se a nós!</a>
        </div>
    </div>
</header>
