<header style="background-position: bottom!important">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ADA for Trees</h1>
            <h2>The stake pool that turns ADA into forests</h2>
            <hr>
            <p style="font-weight:600">100% of our pool's profits are donated to plant trees</p>
            <a href="https://adapools.org/pool/c3c0b2c48d0c9b36f51461530d8a4c7df67f66f05827a5ad831e9e37" class="btn btn-primary btn-xl page-scroll">Join ADAT</a>
        </div>
    </div>
</header>
