<section class="bg-primary" id="intro" style="padding:25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                 <p><b style="background: white;
    color: #61959c;">Ada for Trees (ADAT)</b> é uma SP de Cardano com um propósito solidário que visa á Sustentabilidade.</p>
                <p>Em parceria com Treedom, lutamos contra o impacto que a <br><b>desflorestação</b> e <b>emissões de Dióxido de Carbono (CO2)</b> têm no ambiente.</p>
        </div>
    </div>
</div>
</section>
