<section class="bg-primary" id="intro" style="padding:25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                 <p><b style="background: white;
    color: #61959c;">Ada for Trees (ADAT)</b> is a Cardano Charity Stake Pool with a sustainability mission.</p>
                <p>Partenering with Treedom, we thrive to fight back the impact of
                  <br><b>Deforestation</b> and <b>C02 emisions</b>.</p>
        </div>
    </div>
</div>
</section>
