<section class="bg-primary" id="intro" style="padding:25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                 <p><b style="background: white;
    color: #61959c;">'Ada for Trees' (ADAT)</b> é uma SP de Cardano com uma missão benevolente que visa a Sustentabilidade.</p>
                <p>Em parceria com Treedom, lutamos contra o impacto da <br><b>Deflorestação</b> e <b>emições de Dióxido de Carbono (CO2)</b> para o ambiente.</p>
        </div>
    </div>
</div>
</section>
