<section class="bg-primary" id="intro" style="padding:25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <img width="500" height="200" src="https://github.com/ADA4TREES/ADAT/blob/master/img/portfolio/hand.png?raw=true" alt="give">
                <h3 class="section-heading">ADA for Trees é uma Stake Pool (SP) de Cardano com um propósito solidário.</h3>
                <hr class="light">
                 <p>Nós somos operadores dessa SP.
                   <br><b style="background: white;
                 color: #61959c;">Não somos experts em finanças ou economia e não providenciamos aconselhamento financeiro.</b>
                  <br>Se gostaria de saber mais sobre 'Cardano' ou 'Staking', aqui tem alguns links interessantes e úteis:
                </p>
                <hr class="light">
                  <h4><a style="color: white;" href="https://cardano.org/">The Cardano Project</a></h4>
                  <h4><a style="color: white;" href="https://cardano.org/stake-pool-delegation/">Stake pool delegation</a></h4>
                  <h4><a style="color: white;" href="https://adapools.org/">ADA Pools</a></h4>
                  <h4><a style="color: white;" href="https://cardano-community.github.io/support-faq/#/select-pool-to-delegate">Selecting a stake pool to delegate</a></h4>
                  <h4><a style="color: white;" href="https://www.reddit.com/r/cardano/comments/lnj5ne/getting_started_guide_a_newbies_guide_to_cardano/">Cardano's guidance on Reddit</a></h4>
                  <p><b style="background: white;
                  color: #61959c;">Estamos aqui para ajudar!</b>
                   <br>Se necessitarem ajuda com tradução de conteúdo de Inglês para Português, disponha.
                <br>Estamos disponíveis via telegram, reddit, etc.   </p>
        </div>
    </div>
</div>
</section>
