
<section class="bg-primary" id="Pool_Operator_">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pool Operator</h2>
                <hr class="light">
                <h3 class="section-heading">Hi! I'm Cris!</h3>
            </div>
              <div class="container-fluid">
                <div class="col-sm-6 text-center">
                <img width="400" height="400" opacity="0.8" src="https://github.com/ADA4TREES/ADAT/blob/master/img/portfolio/1.png?raw=true" alt="Cris">
                </div>
                <div class="col-sm-6 text-justify">
                <p class="text-faded">From Sunny Mediterranean Corsica.
                  <br><br>With a Biotechnology background - Sustainability and Conservation are my main concerns.
                  <br><br>A Technology enthusiast myself,I believe that by integrating an understanding between ecological impact and technological development, we can create solutions to mitigate our impact on major global issues like <b>climate change</b> and <b>food scarcity</b>.
                  <br><br>The blockchain technology creates the grounds needed to implement these ideas in a global prespective.
                  <br><br>It brings the transparency and security needed for a new generation of technological and social development, where our action are tracked and accounted for and our progress can be accurately measured.
                  <br><br>This is why I am invested in Cardano. The scientific aproach of the project and the sustainability values of the network made me commit to the community. Doing so by being an active member and efficiently running a stake pool.</p>
                </div>
              </div>
            </div>
      </div>
</section>
