
<section class="bg-primary" id="Pool_Operator_">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Operadora da SP</h2>
                <hr class="light">
                <h3 class="section-heading">Olá! Eu sou a Cris!</h3>
            </div>
              <div class="container-fluid">
                <div class="col-sm-6 text-center">
                <img width="400" height="400" opacity="0.8" src="https://github.com/ADA4TREES/ADAT/blob/master/img/portfolio/1.png?raw=true" alt="Cris">
                </div>
                <div class="col-sm-6 text-justify">
                <p class="text-faded">Portuguesa a viver em França, Corsica. 
                  <br><br>Amante da tecnologia e com experiência em Biotecnologia, Sustentabilidade e Conservação são dois dos meus maiores interesses e preocupações.
                  <br><br>Acredito que só com uma compreensão integrada entre impacto ecológico e desenvolvimento tecnológico é que podemos criar soluções que nos permitirão mitigar os efeitos de problemas globais como <b>Alterações Climáticas</b> e <b>Escassez Alimentar</b>.
                  <br><br>A tecnologia 'Blockchain' permite o desenvolvimento necessário para implementar esta ideia numa prespectiva global.
                  <br><br>Garantindo transparência e segurança para o desenvolvimento de uma era de desenvolvimento técnologico e social, onde cada acção pode ser rastreada e progresso pode ser detalhadamente avaliado.
                  <br><br>É por este motivo que decidi fazer parte da comunidade Cardano e investir o meu conhecimento técnico para suportar este projecto.
                  <br><br>Eu acredito e confio na abordagem ciêntifica e na sustentabilidade inerente ao projecto. E é por este motivo que decidi ser um membro activo da comunidade Cardano através do desenvolvimento e manutenção desta 'Stake Pool'.</p>

                </div>
              </div>
            </div>
      </div>
</section>
