<section class="bg-primary" id="portfolio" style="background-image: url('https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/Untitled-2.jpg');min-height: 700px;background-repeat: no-repeat;background-position: bottom right;">
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <h2 class="section-heading">Reliable & high performance tech</h2>
              <hr class="light">
          </div>
      </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-sm-4 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-server wow bounceIn text-primary"></i>
                  <h3>Our Setup</h3>
                  <p >We operate a cluster of 3 nodes on separate dedicated servers ( 1 block producing node + 1 relay + 1 backup ) plus an additional 2 relays distributed geographically for <b>performance</b> and <b>reliability</b>.</p>
              </div>
          </div>

           <div class="col-sm-4 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-donate wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Fees</h3>
                  <p >Our fees are set to 340 + 2% fee.</p>
                  <p >A a delegator, you will get <b>98%</b> of the rewards.</p>
              </div>
            </div>

               <div class="col-sm-4 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Maintenance</h3>
                  <p >The hardware can be scaled up if needed. We use the best security, redundancy and monitoring practices to provide our delegates with the best return possible.</p>
              </div>
         </div>

        </div>

  </div>

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

             <a href="https://adapools.org/pool/c3c0b2c48d0c9b36f51461530d8a4c7df67f66f05827a5ad831e9e37" class="btn btn-default btn-xl">Check our performance</a>

            </div>

        </div>
    </div>



</section>
