<section class="bg-primary" id="portfolio" style="background-image: url('https://raw.githubusercontent.com/ADA4TREES/ADAT/master/img/portfolio/Untitled-2.jpg');min-height: 700px;background-repeat: no-repeat;background-position: bottom right;">
  <div class="container">
      <div class="row">
          <div class="col text-center">
              <h2 class="section-heading">Técnologia Fiável e de Alta Performance</h2>
              <hr class="light">
          </div>
      </div>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-sm-4 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-server wow bounceIn text-primary"></i>
                  <h3>O nosso Setup:</h3>
                  <p >Nós operamos um aglomerado de 3 nodes, cada em servidores dedicados (1 node produtor de blocos + 1 retransmissor 'relay' + 1 reserva) e ainda 2 nodes adicionais distribuidos geograficamnete garantindo <b>performance</b> e <b>confiança</b>.</p>
              </div>
          </div>

           <div class="col-sm-4 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-donate wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Taxas</h3>
                  <p >As taxas da nossa SP são fixas: 340₳ (taxa definida pelo sistema) + Taxa 2%.</p>
                  <p >Os associados da nossa SP receberão <b>98%</b> das recompensas geradas pela SP a cada época.</p>
              </div>
            </div>

               <div class="col-sm-4 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Manutenção</h3>
                  <p >Garantimos a possibilidade de crescimento do sistema. Utilizamos as melhores práticas de segurança,redundância e monitorização para garantir aos nossos associados o melhor retorno possível.</p>
              </div>
         </div>

        </div>

  </div>

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

             <a href="https://adapools.org/pool/c3c0b2c48d0c9b36f51461530d8a4c7df67f66f05827a5ad831e9e37" class="btn btn-default btn-xl">Acompanhe a nossa performance</a>

            </div>

        </div>
    </div>



</section>
