<section id="services" style="background:#e3d0b9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#ffffffbf">How do we plant trees?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hand-holding-heart wow bounceIn text-primary"></i>
                    <h3 style="color:#ffffffbf">100% of ADAT's rewards are donated</h3>
                    <p class="text-muted">By giving 100% of the pool's profits to Treedom, we turn ADA into trees!<br>And by delegating to our pool, you will contribute to make the planet greener.</p>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-seedling wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 style="color:#ffffffbf">We choose trees to plant</h3>
                    <p class="text-muted">Various farmers will plant them and take care of them. Every tree will be tagged to let us follow its story: picture, GPS location, farmer ID, stage of growth.</p>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-passport wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 style="color:#ffffffbf">Long term sustainability</h3>
                    <p class="text-muted">We finance farmers, supporting their work in the early years, when trees are not yet productive. Treedom provides farmers with technical support for planting and managing trees.</p>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hands-helping wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 style="color:#ffffffbf">Help the community</h3>
                    <p class="text-muted">It's about people! The fruits of your tree will belong to the farmer, who will be able to use them as a food resource or support for their income.</p>
                </div>
            </div>




        </div>
    </div>
</section>
