<section id="services" style="background:#e3d0b9">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#ffffffbf">Como plantamos árvores?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hand-holding-heart wow bounceIn text-primary"></i>
                    <h3 style="color:#ffffffbf">100% do valor acumulado em recompensas será investido na plantação de árvores.</h3>
                    <p class="text-muted">Ao reverter 100% dos lucros para a plantação de árvores, estaremos a converter ADA em florestas! <br>
                      E ao delegar à nossa SP você estará a contribuir para um planeta mais verde.</p>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-seedling wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 style="color:#ffffffbf">Escolhemos que árvores plantar</h3>
                    <p class="text-muted">Agricultores locais vão plantar a árvore escolhida e cuidar da mesma durante o seu crescimento. Cada árvore será identificada com um numero de série que permitirá seguir a sua história: Foto, localização GPS, estágio de crescimento e informação sobre o agricultor.</p>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-passport wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 style="color:#ffffffbf">Sustentabilidade a longo prazo</h3>
                    <p class="text-muted">Através deste projeto estaremos a suportar económicamente os pequenos productores/ agricultores, apoiando o seu trabalho durante os primeiros anos de cultivo, enquanto as árvores não são ainda maturas e produtivas. A plataforma Treedom irá providenciar-lhes suporte técnico e económico durante as fases de plantação, gestão e manutenção do sistema agroflorestal.</p>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hands-helping wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 style="color:#ffffffbf">Ajude a comunidade</h3>
                    <p class="text-muted">Uma missão humanitária! As árvores plantadas pelo nosso projecto estarão prontamente gerando frutos para os agricultores que as plantaram, gerando produtos alimentares e  de valor económico ajudando-os a alcançar independência financeira.</p>
                </div>
            </div>




        </div>
    </div>
</section>
