<!DOCTYPE html>
<html lang="en">
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,400&family=RocknRoll+One&display=swap');
</style>

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include intro.html %}
  {% include goal.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include ChoosenCharity.html %}
  {% include Pool_Operator_.html %}
  {% include contact.html %}
  {% include MoreInfo.html %}
  {% include scripts.html %}

</body>

</html>
